@model dynamic

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Об Университете</title>
</head>
<body class="text">

<div class="AboutMainText">
    Об университете
</div>
<div class="AboutInfo">
    Мы объединили многолетние академические традиции и современные образовательные технологии
</div>
<div class="AboutMainText">
    Фотогалерея
</div>
<div class="oneLine spaceAround">
    <div>
        <img src="/AboutP/clown1.jpg" width="300px" height="300px">
    </div>
    <div>
        <img src="/AboutP/clown2.jpg" width="300px" height="300px">
    </div>
    <div>
        <img src="/AboutP/clown3.jpg" width="300px" height="300px">
    </div>
    <div>
        <img src="/AboutP/clowns.jpg" width="300px" height="300px">
    </div>
</div>
<div class="AboutMainText">
    История Университета
</div>
<div class="AboutInfo">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div class="AboutMainText">
    Отзывы наших студентов
</div>
<div class="oneLine">
    <div style="margin: 50px"><img src="/AboutP/Alex.jpg" width="300px" height="300px"></div>
    <div>
        <div style="margin: 50px; font-size: 20px">Александр Александров</div>
        <div style="margin: 50px; font-size: 20px">"Хочу выразить огромную благодарность замечательному Мемному Университету. 
            Не ошибся с выбором места получения высшего образования. Очень хороший педагогический состав! 
            Профессиональный и понимающий деканат, всегда можно найти общий язык. Я получил огромный багаж знаний, 
            а главное правильно работать с материалом и информацией."
            </div>
    </div>
</div>
</body>
</html>