@model dynamic

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Абитуриенту</title>
</head>
<body class="text">
<div class="AbMainText">Абитуриенту</div>
<div class="AbMediumText">Процесс поступления максимально прост. Мы сопровождаем абитуриента на всех этапах: от подачи документов до момента зачисления</div>
<div class="AbSmallText">В этом разделе мы собрали всю актуальную информацию для абитуриентов. Если у вас остались вопросы — сотрудники приемной комиссии всегда готовы прийти на помощь!</div>
<div class="spaceBetween">
    <a href="" class="ab" style="margin: 20px">Список специальностей</a>
</div>
<div class="AbMainText">Стоимость обучения</div>
<div class="spaceAround">
    <div class="BigJoke">Н</div>
    <div class="BigJoke">О</div>
    <div class="BigJoke">Р</div>
    <div class="BigJoke">М</div>
</div>
<div class="AbMainText">Как поступить?</div>
<div class="spaceAround">
    <div class="BigJoke">И</div>
    <div class="BigJoke">З</div>
    <div class="BigJoke">И</div>
</div>
</body>
</html>