@model dynamic

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Студенту</title>
</head>
<body class="text">
<div class="AbMainText">
    Студенту
</div>
<div class="AbMediumText">
    Процесс поступления максимально прост. Мы сопровождаем абитуриента на всех этапах: от подачи документов до момента зачисления
</div>
<div class="AbSmallText">
    В этом разделе мы собрали всю актуальную информацию для абитуриентов. Если у вас остались вопросы — сотрудники приемной комиссии всегда готовы прийти на помощь!
</div>
<div class="AbMainText">
    Новости
</div>
<div class="spaceAround">
    <div>
        <img src="/ForStudentP/flower.jpg" width="300px" height="300px">
    </div>
    <div>
        <img src="/ForStudentP/day.jpg" width="300px" height="300px">
    </div>
    <div>
        <img src="/ForStudentP/joke.jpg" width="300px" height="300px">
    </div>
</div>
<div class="AbMainText">
    Преподаватели
</div>
<div class="spaceAround">
    <div>
        <img src="/ForStudentP/Tenias.jpg" width="300px" height="300px">
    </div>
    <div>
        <img src="/ForStudentP/Tenomos.jpg" width="300px" height="300px">
    </div>
    <div>
        <img src="/ForStudentP/AseFrio.jpg" width="300px" height="300px">
    </div>
</div>
<div class="AbMainText">
    Студенческий совет
</div>
<div class="spaceAround">
    <div>
        <img src="/ForStudentP/pepe.jpg" width="300px" height="300px">
    </div>
    <div>
        <img src="/ForStudentP/dog.jpg" width="300px" height="300px">
    </div>
    <div>
        <img src="/ForStudentP/cat.jpg" width="300px" height="300px">
    </div>
</div>
</body>
</html>