@{
    ViewData["Title"] = "Home Page";
}

<body class="text">
<div class="oneLine spaceAround" style="margin-top: 50px">

    <div>
        <img src="/MainP/Main.svg" width="500" height="500">
    </div>
    <div>
        <div class="welcomeCenter" id="welcome">
            <div>
                Добро пожаловать в
            </div>
            <div>
                лучший университет
            </div>
            <div>
                страны
            </div>
        </div>
        <div class="center welcomeLower">
            место, где тебе всегда рады
        </div>
    </div>
</div>

<div class="spaceAround panel">
                
    <div class="lowerPanel" >
        <div class="lowerPanelText" style="margin: 10px">
            Адреса:
        </div>
        <div class="oneLine address">
            <div style="margin-right: 10px">
                <img src="/MainP/metro.png" width="30" height="25">
            </div>
            <div>
                Советская
            </div>
        </div>
        <div class="address">
            ул. Пушкина,дом Колотушкина
        </div>
        <div class="oneLine address">
            <div style="margin-right: 10px">
                <img src="/MainP/metro.png" width="30" height="25">
            </div>
            <div>
                Мемное
            </div>
        </div>
        <div class="address">
            ул. Фонарей,дом 10
        </div>
        <div class="lowerPanelText" style="margin: 10px">
            Контакты:
        </div>
        <div class="oneLine address">
            <div style="margin-right: 10px">
                <img src="/MainP/phone.svg" width="20" height="20">
            </div>
            <div>
                +8 800-555-35-35
            </div>
        </div>
        <div class="oneLine address">
            <div style="margin-right: 10px">
                <img src="/MainP/phone.svg" width="20" height="20">
            </div>
            <div>
                +8 100-200-33-44
            </div>
        </div>
    </div>

    <div class="welcomeCenter lowerPanel" >
        <div>
            <div class="lowerPanelText">
                Мы в социальных 
            </div>
            <div class="lowerPanelText">
                сетях
            </div>
        </div>

        <div class="oneLine socialMedias">
            <div style="margin-right: 10px">
                <img src="/MainP/Inst.svg" width="30" height="30">
            </div>
            <div>
                memuniver
            </div>
        </div>
        <div class="oneLine socialMedias">
            <div style="margin-right: 10px">
                <img src="/MainP/vk.svg" width="30" height="30">
            </div>
            <div>
                univermemvk
            </div>
        </div>
        <div class="oneLine socialMedias">
            <div style="margin-right: 10px">
                <img src="/MainP/twi.png" width="30" height="30">
            </div>
            <div>
                twigmu
            </div>
        </div>
        <div class="oneLine socialMedias">
            <div style="margin-right: 10px">
                <img src="/MainP/youtube.svg" width="30" height="30">
            </div>
            <div>
                bestmemes
            </div>
        </div>
    </div>

    <div class="welcomeCenter lowerPanel lowerPanelText">
        <div>
            Лучший мем нашего студента
        </div>
        <div>
            <img src="MainP/CatMeme.jpg" height="250" width="250">
        </div>
    </div>
</div>
</body>