@model dynamic

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Специальности</title>
</head>
<body class="text">
<div class="center SpecText">
    Специальности
</div>
<div class="spaceBetween">
    <img src="/ProfilesP/girl.png" height="100px" width="100px">
    <img src="/ProfilesP/bag.svg" height="100px" width="100px">
    <img src="/ProfilesP/note.png" height="100px" width="100px">
</div>
<div class="spaceAround SpecText">
    <div >
        <div>
            Бакалавариат
        </div>
        <div>
            первый
        </div>
        <div>
            ВтОрОй
        </div>
        <div>
            4тый
        </div>
    </div>
    
    <div>
        <div>
            Магистратура
        </div>
        <div>
            первый
        </div>
        <div>
            ВтОрОй
        </div>
        <div>
            4тый
        </div>
    </div>
</div>
</body>
</html>