@model dynamic

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Общежитие</title>
</head>
<body class="text">
<div class="AbMainText">
    Общежитие
</div>
<div class="AbMediumText">
    Вы проживаете в - 
</div>
</body>
</html>