@model dynamic

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Расписание</title>
</head>
<body class="text">
<div class="AbMainText">
    Рассписание
</div>
<div>
    <img src="/TimetableP/Timetable.png" width="700px" height="300px">
</div>
</body>
</html>