@model IEnumerable<LastTry.Models.Vacancies>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Вакансии</title>
</head>
<body class="text">
<div class="AbMainText">
    Вакансии
</div>

<div>
    <div>
        @{
            foreach (var vacancies in Model)
            {
                <div class="oneLine">
                    <div class="AbMainText">@vacancies.Id</div>
                    <div class="AbMainText"> @vacancies.Name</div>
                    <div class="AbMainText">@vacancies.Description</div>
                </div>
            }
        }
    </div>
</div>

</body>
</html>