@model LastTry.Models.User;

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Регистрация</title>
</head>
<body class="text">
<div>
        <div class="center regMainMarg" style="font-size: 65px">
            Регистрация
        </div>
    <form asp-action="Registration" asp-controller="Account" asp-antiforgery="true">
        <div class="center regMarg">
            <input asp-for="Name" type="name" placeholder="ФИО" class="regInput">
        </div>
        <div class="center regMarg">
            <input asp-for="Email" type="email" placeholder="Почта" class="regInput">
        </div>
        <div class="center regMarg">
            <input asp-for="Password" type="password" placeholder="Пароль" class="regInput">
        </div>

        <div class="center regMarg">
            <button onclick="window.location.href='/Account/Profile'" type="submit" class="regButton oneLine" style="margin: 0px">
                <div class="regText text">
                    Регистрация
                </div>
            </button>
        </div>
        
        <div class="center">
            <a href="/Account/LogIn">Уже зарегестрирован</a>
            </div>
    </form>
    
    
    
</div>
</body>
</html>